
  <tr>
    <td>
    Nom : <%=  @users.find(@products.find(order.product_id).seller_id).name %> <br/>
    Tel : <%=   @users.find(@products.find(order.product_id).seller_id).phone_number %> <br/>
    Email :<%=  @users.find(@products.find(order.product_id).seller_id).email %></td>
    <td> <%= order.customization_message %></td>
    <td><%= order.quantity %></td>
    <td> <%= order.status %></td>
  </tr>
