<br>
<div>
  <strong><h3>Profil du vendeur :</h3></strong>
  <%# order.user_id %>
  <br>
  <p><strong>Quantité:</strong> <%= order.quantity %></p>
  <p><strong>Message de personnalisation:</strong> <%= order.customization_message %></p>
  <p><strong>Nom complet:</strong> <%= @users.find(@products.find(order.product_id).seller_id).name %></p>
  <p><strong>Numéro de téléphone:</strong> <%= @users.find(@products.find(order.product_id).seller_id).phone_number %></p>
  <p><strong>Email:</strong> <%= @users.find(@products.find(order.product_id).seller_id).email %></p>
</div>
