  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon-transparent fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
    <div class="container-fluid">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag asset_path 'KHOBZ Logo.png' %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Home",root_path, class: "text-warning pe-3 nav-link" %>
              </li>
              <li class="nav-item active">
              <%= link_to "Notifications", "/mes-notifications", class: "text-warning pe-5 nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <% if !current_user.photo.key.nil? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/Adam-Aber", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <div class="gold-background dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Mes recettes", "/mes-recettes", class: "gold-background dropdown-item" %> <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "gold-background dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="banner d-flex mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path  'https://images.unsplash.com/photo-1533117307029-74a8b35848cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80' %>);">
    <div class="container-home">
      <div class="proposition-value">
        <h1>Le pain <strong><span class="text-warning">le plus frais</span></strong> est <strong>prêt</strong>!</h1>
        <p class="secondary-sentence">Commandez votre <span class="underline"> Homemade</span> pain préféré</p>
      </div>
      <a class="btn btn-flat btn-warning" href="<%= products_path %>">J'achète maintenant!</a>
    </div>
  </div>


  <section>
      <div class="magrid ms-4">

        <div class="ma-design p-2" style="background-image: url('<%= asset_path("tile.png") %>');background-position: center;background-size: contain;background-repeat: no-repeat;">
          <div class="card-trip p-6">
              <%= image_tag asset_path 'authentic.jpg'%>
              <h2>Une expérience traditionnelle authentique</h2>
              <p>Achetez du pain fait maison et personnalisez le à votre goût.</p>
            </div>
        </div>

        <div class="ma-design p-2" style="background-image: url('<%= asset_path("tile.png") %>');background-position: center;background-size: contain;background-repeat: no-repeat;">
          <div class="card-trip p-6">
            <%= image_tag asset_path 'https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'%>
            <h2>Personnalisé à votre goût</h2>
            <p>Nous assurons votre satisfaction avec les commandes personnalisées faîtes un jour à l'avance !</p>
          </div>
        </div>

        <div class="ma-design p-2" style="background-image: url('<%= asset_path("tile.png") %>');background-position: center;background-size: contain;background-repeat: no-repeat;">
          <div class="card-trip p-6">
            <%= image_tag asset_path 'https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'%>
            <h2>Une grande communauté de vendeurs</h2>
            <br>
            <p>Même VOUS vous pouvez devenir vendeur.</p>
          </div>
        </div>

      </div>
  </section>

  <section class="my-5">
    <div class="yellow-bg section">
      <h3 class="numbers-title yellow-txt">Best</h3>
        <div class="vector-container">
          <%= image_tag asset_path 'https://images.unsplash.com/photo-1549931319-a545dcf3bc73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80', class: "w-50"%>
        </div>
      <h3 class="numbers">Seller</h3>
    </div>

    <div class="blue-bg section">
      <h3 class="numbers-title blue-txt">100%</h3>
        <div class="vector-container">
          <%= image_tag asset_path 'https://images.unsplash.com/photo-1549057188-efd70413345e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80', class: "w-50"%>
        </div>
      <p class="numbers">Fait maison</p>
    </div>
  </section>


  <div class="container-carousel">
    <div class="carousel-section">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-bottom">
              <%= image_tag asset_path 'https://images.unsplash.com/photo-1471646174523-327e108889e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80'%>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-bottom">
              <%= image_tag asset_path 'https://images.unsplash.com/photo-1603777953733-c3f9b2533bf8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'%>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-bottom">
              <%= image_tag asset_path 'https://images.unsplash.com/photo-1603779702245-0bfe6bb1cd75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'%>
            </div>
          </div>
           <div class="carousel-item">
            <div class="carousel-bottom">
              <%= image_tag asset_path 'https://images.unsplash.com/photo-1512684974096-473a769cde8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'%>
            </div>
          </div>
           <div class="carousel-item">
            <div class="carousel-bottom">
              <%= image_tag asset_path 'https://images.unsplash.com/photo-1521931206836-2265cd656a5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80'%>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>


  <section class="home-testimonial carousel-section">
        <div class="row d-flex justify-content-center testimonial-pos">
            <div class="col-md-12 pt-4 d-flex justify-content-center">
                <h1>Avis</h1>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <h2>Explorez les expériences de nos clients</h2>
            </div>
        </div>
        <section class="home-testimonial-bottom">
            <div class="testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;La mission principale de Khobz Dar est de donner à tout le monde l'opportunité de partager ses recettes de pain uniques avec le reste du monde.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Assia</div>
                                <div class="link-position d-flex justify-content-center">Étudiante</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Khobz Dar m'a permis de gagner des revenus complémentaires afin d'arrondir les fins de mois. C'est une bonne opportunité pour les étudiants de se faire un peu d'argent de poche pendant leur temps libre.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=689&q=80" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Ahmed</div>
                                <div class="link-position d-flex justify-content-center">Étudiant</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Grâce a Khobz Dar, je n'ai plus besoin d'aller à la boulangerie quotidiennement, maintenant je peux en un seul clic commander du pain frais fait maison.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Karima</div>
                                <div class="link-position d-flex justify-content-center">Employée</div>
                            </div>
                        </div>
                    </div>

        </section>
  </section>
