<div id="<%= dom_id product %>">
  
  <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><strong><%= product.name %></strong></h2>
      <p><strong><%= product.seller.name %></strong>: <%= product.description %></p>
    </div>
    <h2 class="card-trip-pricing">MAD <%= product.price %></h2>
    <h2>
      <%= link_to "Show this product", product %>
    </h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

</div>
