
<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1>The Products</h1>
    <div class="grid">
      <% @products.each do |product| %>
        <div class="products" >
          <div class="button">
            <%= link_to product_path(product) do %>
              <div class="qube">
                <div class="front">Here we go !</div>
                <div class="back">See product</div>
              </div>
            <% end %>
          </div>
            <div class="card-trip">
              <img src="https://images.unsplash.com/photo-1530548091131-36336084c705?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
              <div class="card-trip-infos">
                  <img src="https://kitt.lewagon.com/placeholder/users/Omayma1711" class="card-trip-user avatar-bordered" />
              </div>
                <div class="d-flex flex-column">
                  <p><%= product.name %></p>
                  <p>Faite avec soin par <%= @users.find(product.seller_id).name %></p>
                </div>
                <p class="card-trip-pricing">MAD <%= product.price %></p>
            </div>
        </div>
      <% end %>
    </div>
  <%= link_to "New product", new_product_path %>
</div>
