
<div id="index" class="container">
  <p style="color: green"><%= notice %></p>
  <div class="d-flex justify-content-around mb-5">
      <h1 id="title"> Nos pains frais</h1>
    </div>
    <div class="grid">
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
        <%# added the line above so that the whole card becomes clickable %>
          <div class="products" style="text-decoration:none" >
              <div class="card-trip">
               <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
                <div class="card-trip-infos">
                 <%= cl_image_tag product.seller.photo.key, class:"card-trip-user avatar-bordered"  %>
                </div>
                  <div class="d-flex flex-column">
                    <p><h2><%= product.name %></h2></p>
                    <p><%= product.price %> MAD</p>
                  </div>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
