


<div id="notifs" class="container">
<br>
<br>
  <div class="d-flex justify-content-around mb-5">
  <h1>Commandes</h1>
  </div>
  <% @products.each do |product| %>
  <div class="wrapper">
      <%# added the line above so that the whole card becomes clickable %>
    <%= link_to product_path(product) do %>
      <div class="card-product">
        <% if product.photo.attached? %>
          <%= cl_image_tag, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= cl_image_tag "https://tasteofmaroc.com/wp-content/uploads/2017/08/batbout-2-edit2.jpg", height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-product-infos">
         <div class="details">
          <h2><%= product.name %></h2>
          <p><%= product.description %></p>
         </div>
          <div class="infos">
            <p> <%= product.price %> MAD <i class="fa-solid fa-tag"></i></p>
            <span> <i class="fa-solid fa-sack-dollar"></i> <%=  product.orders.where("status ilike 'Delivered'").count %> pièce(s) Vendus</span>
            <span><i class="fa-regular fa-clock"></i> <%= product.orders.where("status ilike 'unDelivered'").count %> pièce(s) en attente</span>
          </div>
        </div>
      </div>
    <%end%>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%= product.id %>" aria-expanded="false" aria-controls="collapseOne<%= product.id %>">
            Détails de commandes ( <%= product.orders.count %> )
          </button>
        </h2>
        <div id="collapseOne<%= product.id %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <% product.orders.each do |order| %>
              <p>Statut: <%= order.status %></p>
              <p>Quantité: <%= order.quantity %></p>
              <p>Message de personnalisation: <%= order.customization_message %></p>
              <p>Nom du client:<%= order.buyer.name %></p>
              <p>Email:<%= order.buyer.email %></p>
              <p>Numéro de téléphone:<%= order.buyer.phone_number %></p>
              <hr/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
      </div>
  <%end%>
</div>
