<p style="color: green"><%= notice %></p>
<div class='container'>
<%= render @product %>
<br>
<br>

  <%= link_to "Edit this product", edit_product_path(@product), class:"btn-flat-sm-i text-decoration-none align-self-center" %> |
  <%= link_to "Back to products", products_path, class:"btn-flat-sm-i text-decoration-none align-self-center" %> |
  <%= link_to "Place an order", new_product_order_path(@product), class:"btn-flat-sm-i text-decoration-none align-self-center" %>
  <br>
  <%= button_to "Destroy this product", @product, method: :delete, class:"btn-flat-sm-i text-decoration-none align-self-center" %>
</div>
